.bookshow{
    color: default;
    background-color: blue;
    width: 7%;
    margin-right: 1%;
    padding: 0 10px;
    height: 100%;
    border: none;
    border-radius: 4px;
}
.logout{
    background-color: white;
    /* float: right; */
    width: 7% ;
    margin-right: 1%;
    padding: 0 10px;
    height: 100%;
    border: none;
    border-radius: 4px;
    /* cursor: pointer; */
}
.login{
    color: default;
    background-color: white;
    /* float: right; */
    margin-right: 5%;
    padding: 0 10px;
    height: 100%;
    border: none;
    border-radius: 4px;
}
.backBtn{
    margin: 8px 0 0 24px;
    height: 24px;
}

/* .backBtn:hover,.bookshow:hover {
    cursor: pointer;
} */

.flex-container {
    display: flex;
}

.flex-container >div {
    margin: 0 1%;
}

.detailImage {
    width: 20%;
}

.trailer {
    width: 60%;
}

.rating {
    width: 20%;
}

.topMargin {
    margin-top: 16px;
}